body {
    background-image: url('img/fondoGF.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

img {
    width: 700px;
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.barra {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.footer {
    width: 100%;
    background-color: blueviolet;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.contenido {
    width: auto;
    background: rgba(0,255,255,0.5);
    transform: translateY(900%);
    color: white;
    margin: 20%;
}

ul {
    list-style: none;
}

.contenedor-contenido {
    display: flex;
    align-items: center;
}

