body {
    background-image: url('img/fondoGF.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}

img {
    width: 700px;
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.barra {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.footer {
    width: 100%;
    background-color: blueviolet;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.contenido {
    width: auto;
    background: rgba(0,255,255,0.5);
    transform: translateY(900%);
    color: white;
    margin: 20%;
}

ul {
    list-style: none;
}

@media (min-width: 768px) {
    .contenido-principal {
        display: flex;
        justify-content: center;
    }
}

.entrada {
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
    color: white;
}

.entrada:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

.no-margin {
    margin: 0;
}

