body {
    background-image: url('img/fondoGF.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}

img {
    max-width: 100%; 
    height: auto; 
}

@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.barra {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.footer {
    width: 100%;
    background-color: blueviolet;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.contenido {
    width: auto;
    background: rgba(0,255,255,0.5);
    transform: translateY(900%);
    color: white;
    margin: 20%;
}

ul {
    list-style: none;
}

@media (min-width: 768px) {
    .contenido-principal {
        display: flex;
        justify-content: center;
    }
}

.entrada {
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
    color: white;
}

.entrada:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.no-margin {
    margin: 0;
}

.footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: blueviolet;
    padding: 1rem; 
    text-align: center; 
    color: white;
}

@media (min-width: 768px) {
    .footer {
        padding: 2rem; 
    }
}

.titulo {
    color: white;
}
